{% extends 'base.html.twig' %}

{% block title %}
    Participants - {{ group.name }}
{% endblock %}

{% block body %}
<div class="container my-5">

    <h1>Participants for {{ group.name }}</h1>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Wishlist Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.wishlist|length }}</td>
                    <td>
                        <a href="{{ path('admin_exchange_download', {'userId': user.id}) }}"
                           class="btn btn-sm btn-secondary">
                            Download PDF
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">
                        No participants found.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}